    .login-form {
      width: 340px;
      margin: 80px;
                }
    .login-form form {
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
        background: #f7f7f7;
        padding: 0px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }

    .form-group{
        
        margin-top: 10px;
    }
    
